html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.navbar {
    background-color: bisque;
}

.header {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 25px;
}

.selector {
    margin: 1em;
}

.selector label {
    font-size: 1.5rem;
    margin-right: 0.2em;
}

.selector select {
    font-size: 1.5rem;
    padding: 0em 0.1em;
    border: 3px ridge rgb(109, 56, 10);
    outline: none;
    background-color: rgb(0, 77, 103);
    color: white;
}

.selector .addList {
    width: 40px;
    height: 34.5px;
    margin: 0;
    border: none;
    background-color: transparent;
    color: rgb(0, 77, 103);
    font-size: 2rem;;
    position: relative;
    top: 3px;
    left: -6px;
}

.selector .addList:hover {
    cursor: pointer;
    color: black;
}

#newTodoInput {
    font-size: 1.3rem;
    margin: 0em 1em;
}

#todoList {
    list-style: none;
    padding: 10px;
    font-size: 1.3rem;
}

li {
    margin: 10px;
    font-size: 1.4rem;
    display: flex;
    gap: 10px;
}

#addTodo {
    font-size: 1.3rem;
    margin: 0px -10px;
}

.deleteTodo {
    width: 23px;
    max-height: 23px;
    background-image: url("assets/delete-icon.png");
    background-repeat: no-repeat;
    background-position: center;  
    background-size: cover;   
    padding: auto;
}




















footer {
    position: sticky;
    bottom: 0px;
}