html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 90ch;
    flex: 1;
}

.navbar {
    background-color: bisque;
}

.header {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 25px;
}

.selector {
    margin: 1em;
}

.selector label {
    font-size: 1.5rem;
    margin-right: 0.2em;
}

.selector select {
    font-size: 1.5rem;
    padding: 0em 0.1em;
    border: 3px ridge rgb(109, 56, 10);
    outline: none;
    background-color: rgb(0, 77, 103);
    color: white;
}

.selector .addList {
    width: 40px;
    height: 34.5px;
    margin: 0;
    border: none;
    background-color: transparent;
    color: rgb(0, 77, 103);
    font-size: 2rem;;
    position: relative;
    top: 3px;
    left: -6px;
}

.selector .addList:hover {
    cursor: pointer;
    color: black;
}

#newTodoInput {
    font-size: 1.3rem;
    margin: 0em 1em;
}

#todoList {
    display: flex;
    flex-direction: column;
    gap: 1px;
    margin: 5px;
}

.todoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    border: 1px solid black;
    padding: 0 1em;
}

.todoTitle {
    font-size: 1.2rem;    
    font-weight: bold;
}

.todoDescription {
    font-size: 1rem;
    width: 50%;
    height: auto;
    resize: none;
    overflow: hidden;
    border: none;
    outline: none;
}

#addTodo {
    font-size: 1.3rem;
    margin: 0px -10px;
}

.deleteTodo {
    width: 23px;
    height: 23px;
    background-image: url("assets/delete-icon.png");
    background-repeat: no-repeat;
    background-position: center;  
    background-size: cover;   
    padding: auto;
    margin: 5px;
}




















footer {
    position: sticky;
    bottom: 0px;
}