.navbar {
    background-color: bisque;
}

.header {
    text-align: center;
    font-size: 2rem;
}

.selector label {
    font-size: 1.5rem;
}

.selector select {
    font-size: 1.5rem;
    padding: 0em 0.1em;
    border: 3px ridge rgb(109, 56, 10);
    outline: none;
    background-color: rgb(0, 77, 103);
    color: white;
}

.selector .addList {
    width: 40px;
    height: 34.5px;
    margin: 0;
    border: none;
    background-color: transparent;
    color: rgb(0, 77, 103);
    font-size: 2rem;;
    position: relative;
    top: 3px;
    left: -6px;
}

.selector .addList:hover {
    cursor: pointer;
    color: black;
}